.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.Animation {
  animation: App-logo-spin infinite 20s linear;
}

.Animation-counterwise {
  animation: App-logo-spin-counter-clockwise infinite 3s linear;
}


.App-header {
  background-color: rgb(94, 7, 7);
  height: 250px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes App-logo-spin-counter-clockwise {
  from { transform: rotate(360deg); }
  to { transform: rotate(0deg); }
}
